<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VersionControlTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5851DB61E39D56A007FC2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5851DCA1E39D56A007FC2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5851DD51E39D56A007FC2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
